In [61]:
from typing import Union, Tuple, Optional
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import numpy as np

from matplotlib.axes import Axes
plt.rcParams['font.sans-serif'] = ['Arial Unicode MS'] 
plt.rcParams['axes.unicode_minus'] = False   

def load_csv(p: Union[Path, str]) -> pd.DataFrame:   
 
    if isinstance(p, str):         
        p = Path(p)                

    if 'csv' in p.name:
        return pd.read_csv(p, encoding='utf-8')

    else:
        f = list(p.glob('*.csv'))   
        if len(f) == 0:                                             
            raise FileNotFoundError(f'no csv file under the {p}')  
        elif len(f) == 1:                                          
            return pd.read_csv(f[0], encoding='utf-8')
        else:
            raise RuntimeError(f'multiple csv files under the {p}')

In [62]:
df=load_csv ("/Users/wei/visit_statistics/test_file/Data_on_monkeypox_cases_in_the_EU_EEA.csv")
df

        DateRep CountryExp CountryCode Source  ConfCases
0    2022-05-09    Austria          AT     EI          0
1    2022-05-09    Belgium          BE  TESSy          0
2    2022-05-09    Czechia          CZ  TESSy          0
3    2022-05-09    Denmark          DK     EI          0
4    2022-05-09    Finland          FI     EI          0
..          ...        ...         ...    ...        ...
731  2022-06-16   Portugal          PT     EI          0
732  2022-06-16    Romania          RO  TESSy          1
733  2022-06-16   Slovenia          SI  TESSy          0
734  2022-06-16      Spain          ES     EI          0
735  2022-06-16     Sweden          SE     EI          4

[736 rows x 5 columns]

In [63]:
condition=df["ConfCases"]>0
df[condition]

        DateRep   CountryExp CountryCode Source  ConfCases
11   2022-05-09        Italy          IT  TESSy          1
34   2022-05-15        Italy          IT  TESSy          4
57   2022-05-16        Italy          IT  TESSy          2
87   2022-05-18     Portugal          PT     EI          5
93   2022-05-19      Belgium          BE  TESSy          2
..          ...          ...         ...    ...        ...
714  2022-06-16      Belgium          BE  TESSy          8
724  2022-06-16        Italy          IT  TESSy          1
728  2022-06-16  Netherlands          NL     EI         15
732  2022-06-16      Romania          RO  TESSy          1
735  2022-06-16       Sweden          SE     EI          4

[173 rows x 5 columns]

In [65]:
Country=df.sort_values(['CountryExp'])  #同個國家整理在一起
condition=Country["ConfCases"]>0
df1=Country[condition]

In [66]:
freq=df1.groupby(["CountryExp"]).count()
freq.sort_values(['ConfCases'], ascending=False)    #20220509-20220616

             DateRep  CountryCode  Source  ConfCases
CountryExp
Italy             22           22      22         22
Belgium           21           21      21         21
Spain             18           18      18         18
Portugal          17           17      17         17
Germany           14           14      14         14
France            13           13      13         13
Ireland            9            9       9          9
Netherlands        9            9       9          9
Sweden             7            7       7          7
Hungary            5            5       5          5
Poland             5            5       5          5
Denmark            5            5       5          5
Slovenia           5            5       5          5
Norway             4            4       4          4
Romania            3            3       3          3
Czechia            3            3       3          3
Austria            3            3       3          3
Iceland            2            2       2          2
Greece             2            2       2          2
Malta              2            2       2          2
Finland            2            2       2          2
Latvia             1            1       1          1
Luxembourg         1            1       1          1